# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://postgres.qrdzgqzdcxshseleajda:ihrV8SVpyenSA6f@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.qrdzgqzdcxshseleajda:ihrV8SVpyenSA6f@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

# Clerk Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_cGVhY2VmdWwtc2x1Zy0zLmNsZXJrLmFjY291bnRzLmRldiQ"
CLERK_SECRET_KEY="sk_test_OjjCQ3iDZzUSb5AiMeGYecftkPdw818p0ThJpjiQKO"
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL="/" 
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL="/"

# Webhook Secret
WEBHOOK_SECRET="whsec_ftc8FSlLrJ9x590iucN5cC9C7wd5/Q3K"

# Supabase (for file storage)
NEXT_PUBLIC_SUPABASE_URL="https://qrdzgqzdcxshseleajda.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFyZHpncXpkY3hzaHNlbGVhamRhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzYyNDk4MDIsImV4cCI6MjA1MTgyNTgwMn0.2Nk9f7kNVBVTrirs3ieq8oQBXFyk-5bBY3K8CtmVj4U"
SUPABASE_URL="https://qrdzgqzdcxshseleajda.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFyZHpncXpkY3hzaHNlbGVhamRhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcwNDYzNDc5OCwiZXhwIjoyMDIwMjEwNzk4fQ.2_QHbYZZXOYHf0Qx8J0FtHO2H6zQ6qf6E_7wXDLqWvY"

# Site URL (for CORS)
NEXT_PUBLIC_SITE_URL="http://localhost:3000"